<%- include('./includes/head.ejs') %>

<link rel="stylesheet" href="/css/forms.css">
</head>

<%- include('./includes/nav.ejs') %>

<% if(isEdit) { %>
    <h1>Edit Subscription</h1>
<% } else { %>
    <h1>Add Subscription to <%= category.name %></h1>
<% } %>

<% if(isError) { %>
    <div class="error">
        <% for(let error of errors) { %>
            <h3><%= error.msg %></h3>
        <% } %>
    </div>
<% } %>

<% if(isSuccess) { %>
    <div class="success">
        <h3><%= success %></h3>
    </div>
<% } %>

<div class="form-control">
    <form action="<%= isEdit ? '/subscription/edit/' + id : '/category/new-subscription/' + category._id %>" 
        method="POST" enctype="multipart/form-data">
        <label for="name"><span>Name:</span></label>
        <input type="text" name="name" id="name" 
            value="<%= isError || isEdit ? oldInput.name : '' %>" required>

        <label for="image"><span>Image:</span></label>
        <input type="file" name="image" id="image" <%= !isEdit ? 'required' : '' %>>

        <label for="desc"><span>Description:</span></label>
        <textarea cols="50" rows="6" name="desc" id="desc" required><%= isError || isEdit ? oldInput.desc : '' %></textarea>

        <label for="url"><span>URL:<span class="https">https://</span></span></label>
        <input type="text" name="url" id="url" 
            value="<%= isError || isEdit ? oldInput.url : '' %>" required>

        <% if(isEdit) { %>
            <label for="category"><span>Category:</span></label>
            <select name="category">
                <% for(let c of categories) { %>
                    <option value="<%= c._id %>" <%= c._id.toString() === category.toString() ? 'selected' : '' %>><%= c.name %></option>
                <% } %>
            </select>
        <% } %>
        <button type="submit" class="btn">Submit</button>
    </form>

    <% if(isEdit) { %>
        <form action="/subscription/delete/<%= id %>" method="POST">
            <h3>Delete Subscription</h3>
            <button type="submit" class="btn redBtn">Delete</button>
        </form>
    <% } %>
</div>

<%- include('./includes/foot.ejs') %>